{% block gundb %}
<script id="gun_script">

    var gun = Gun(location.origin + '/gun');
    openpgp.config.aead_protect = true
    openpgp.initWorker({ path:'/js/openpgp.worker.js' })

    var refMessage = gun.get('message');

    refMessage.on(function(data){
        window.handleMessage(data.message)(openpgp)(window.localStorage)('royale')(gun);
    });
    // 
    // setInterval(function() {
    //     gun.get('message').put({message: Date.now()})
    // }, 3000);
    //
</script>
{% endblock %}
